automata-lib[visual]>=8.2.0
pandas>=2.2.0
ipython>=8.22.2
networkx>=2.6.2
frozendict>=2.3.4
typing-extensions>=4.5.0
cached-method>=0.1.0
coloraide>=1.8.2
pygraphviz>=1.10
decorator>=5.1.1
jedi>=0.16
matplotlib-inline>=0.1.6
prompt-toolkit>=3.0.41
pygments>=2.4.0
stack-data>=0.6.3
traitlets>=5.13.0
pexpect>=4.3
numpy>=1.23.2
python-dateutil>=2.8.2
pytz>=2020.1
tzdata>=2022.7
parso>=0.8.3
ptyprocess>=0.5
wcwidth>=0.2.13
six>=1.5
executing>=1.2.0
asttokens>=2.1.0
pure-eval>=0.2.2
forbiddenfruit>=0.1.4